.*
*~
\#*\#

*.ipynb
Manifest*.toml
docs/Manifest.toml
docs/build/
playground_pluto.jl
coverage.jl
lcov.info

!/.gitignore
!/.dev/
!/.github/
!/.JuliaFormatter.toml
!/.typos.toml

deps/build.log
deps/build-state.toml
deps/backend.stamp
deps/C_API.jl
deps/libsparse_ir_capi.*
